<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ver</key>
	<string>4.1.1.6</string>
	<key>subversion</key>
	<dict>
		<key>4.1.1.6</key>
		<dict>
			<key>fileUpdated</key>
			<array>
				<dict>
					<key>remoteURL</key>
					<string>http://10.40.102.23/workbenchws/uploaded/forms/formIndex.plist</string>
					<key>downloaded</key>
					<false/>
				</dict>
				<dict>
					<key>remoteURL</key>
					<string>http://10.40.102.23/workbenchws/uploaded/forms/formEmailSeting.plist</string>
					<key>downloaded</key>
					<false/>
				</dict>
				<dict>
					<key>remoteURL</key>
					<string>http://10.40.102.23/workbenchws/uploaded/forms/eforms.json</string>
					<key>downloaded</key>
					<false/>
				</dict>
<dict>
					<key>remoteURL</key>
					<string>http://10.40.102.23/workbenchws/uploaded/forms/FNB PC Individual Cheque Credit Card Application form APEX v1 p1_2.jpg</string>
					<key>downloaded</key>
					<false/>
				</dict>
<dict>
					<key>remoteURL</key>
					<string>http://10.40.102.23/workbenchws/uploaded/forms/FNBCheque.xml</string>
					<key>downloaded</key>
					<false/>
				</dict>

			</array>
		</dict>
	</dict>
</dict>
</plist>
